---
layout: page
title: Dorkbot Speakers
permalink: /speakers/
---
<blockquote><b>We're still slowly importing all the old dorkbotlondon events, this will be complete soon!</b></blockquote>

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t }}
<ul>
{% for post in posts reversed %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}
