{% include header.html %}
<pre>
{% if post.start %}<b>When:</b>  {{ post.start | date:"%H:%M" }}-{{ post.end | date:"%H:%M" }}, {{ post.start | date:"%a %b %-d %Y" }}{% endif %}
{% if post.where %}<b>Where:</b> {{ site.data.locations.[post.where].where_html }}       (directions below)
{% endif %}
{{ post.content }}
{{ site.data.locations.[post.where].directions }}

</pre>

<div id="paginator">
    {% if post.previous.url %}
        <a href="{{ post.previous.url }}">
        &laquo; Previously</a>
    {% endif %}

    {% if post.next.url %}
        <span class="more">
        <a href="{{ post.next.url }}">
        After this &raquo; </a>
        </span>
    {% endif %}
</div>
